---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Über mich" backgroundImage="/images/background.jpg">
  <h1>Über mich</h1>
  <p> das wichtigste bei diesem Projekt ist mir gewesen, mich mit meinem persönlichen, warum selbst so zu stärken, dass ich selbst unter den stärksten Winden des Lebens den Kontakt zu mir selbst behalten kann, damit ich am Ende in den Augen der Menschen, den ich den Weg zu sich, selbst die Selbstanbindung im Raum gehalten habe.</p>
</BaseLayout>