---
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter';
import Markdown from '@astrojs/markdown-remark';

const filePath = path.resolve('./src/content/start.md');
const fileContent = fs.readFileSync(filePath, 'utf-8');
const { data: frontmatter, content } = matter(fileContent);
---

<html>
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <h1>{frontmatter.title}</h1>
    <Markdown content={content} />
  </body>
</html>